/* ‘S‰æ–Ê‚Å‹¤’Ê‚·‚éCSS */

.message {
	text-align: center;
	color: blue;
	margin:20px;
}

.error-message {
	text-align: center;
	color: red;
}

.title {
	color: #17a2b8;
	margin:20px;
}


.head {
	text-align: right;
}

.highlight { 
	background-color: yellow; 
}

.search {
	text-align: center;
}

